
<h1>Welcome to Java Racer</h1>

<p>What's your name?</p>
<form id="login" action="/" method="POST">
<input id="player1" name="player1" placeholder="player 1"><br>
<input id="player1" name="player2" placeholder="player 2">
<input type="submit" >
</form>
